.gray-bg,nav,footer {background-color: #484848;}
.paddR50 {padding-right: 50px;}
.nobr {white-space: nowrap;}


html,body {
    height:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.logo span, .logo h1 {
    float: left;
    display: inline-block;
}
.logo span {
    color: #f4f4f4;
    font-size: 76px;
    font-weight: 400;
}
.logo h1 {
    font-size: 30px;
    color: #969696;
    font-weight: 300;
}
.task-number {
    text-align: right;
    font-size: 13px;
    color: #c2c2c2;
    font-weight: 300;
    margin-top: 20px;
}
.task-number sup {
    border-bottom: solid 1px #c2c2c2;
    padding: 0 10px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
    float: left;
    border-right: solid 1px #555555;
    padding: 0 15px;
}
nav li a {
    line-height: 54px;
    padding: 0 10px;
    color: #9ea2a7;
    font-size: 14px;
    font-weight: bold;
    display: block;
    border-bottom: solid 2px transparent;

}
nav li a:hover,
nav li a:active,
nav li a:focus {
    color: #dbdbdb;
    text-decoration: none;
    border-bottom: solid 2px #dbdbdb;
}
main {
    height: calc(100% - 164px - 165px);
    padding: 50px 0;
}
.input-ico-wrap {
    float: left;
    border-radius: 4px 0 0 4px;
    background-color: #484848;
    display: table-cell;
    vertical-align: middle;
    width: 47px;
    height: 45px;
}
.input-ico {
    background: url("_img/sprites.png") no-repeat -48px -6px;
    height: 18px;
    width: 12px;
    margin: 12px auto 0;
}
.name-input input {
    float: left;
    height: 45px;
    padding-left: 10px;
    display: block;
    width: 80%; /*на всякий случай*/
    width: calc(100% - 47px);
    margin-bottom: 30px;
    border-radius: 0 4px 4px 0;
    border: none;
    background-color: #f6f6f6;
    color: #6d747c;
    font-size: 18px;
}
::-webkit-input-placeholder {color: #6d747c;}
::-moz-placeholder {color: #6d747c;}
:-ms-input-placeholder {color: #6d747c;}
:-moz-placeholder {color: #6d747c;}

.skills {
    margin: 0;
    padding: 0;
}
.skills li {
    list-style-type: none;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    font-size: 16px;
    font-weight: 300;
    color: #939393;
    cursor: pointer;
    margin-bottom: 15px;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 22px;
    margin: 0 15px -5px 0;
    background-image: url("_img/sprites.png");
    background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: 0 0;
}
input[type="checkbox"]:checked + label::before {
    background-position: -24px 0;
}
footer {
    color: #fff;
    font-size: 13px;
}
footer a,
footer a:hover,
footer a:focus,
footer a:active {
    color: #fff;
    text-decoration: none;
}
h6 {
    font-size: 15px;
    font-weight: 600;
}
.socials-wrap {
    display: inline-block;
}
.socials {
    width: 87px;
    height: 110px;
    background-color: #3c3c3c;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 0 9px 15px 0;
    font-size: 14px;
}
.socials span {
    font-size: 11px;
}
.socials div+div {
    line-height: 12px;
}
.social-ico {
    width: 41px;
    height: 41px;
    margin: 16px auto 13px;
}
.social-ico.fb {background: url("_img/sprites.png") no-repeat -63px 0;}
.social-ico.twitter {background: url("_img/sprites.png") no-repeat -106px 0;}
.social-ico.in {background: url("_img/sprites.png") no-repeat -149px 0;}




/* XS */
/* XS */
@media (max-width: 767px) {
    nav ul {display: inline-block; height: 51px;}
    nav li {padding: 0;}
    nav li a {padding: 0 5px;}
    nav li:last-of-type {border-right: none;}
    .xs-center {text-align: center;}
    .paddR50 {padding-right: 15px;}
    main {height: auto;}
    .photo {text-align: center;}
}